@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;400;700&display=swap');

:root {
  --black: #000000;
  --white: #ffffff;
  --neutral-grey: #cbcfd1;
  --neutral-grey-dark: #3d3d3d;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Spectral', serif;
  background-color: var(--white);
  color: var(--neutral-grey-dark);
}

.App {
  padding: 1rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(206, 206, 206);

  .logo {
    img {
      max-height: 55px;
    }
  }
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    list-style: none;

    a {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

a {
  color: var(--neutral-grey-dark);
  text-decoration: none;

  &:hover {
    color: var(--white);
    text-decoration: underline;
  }
}

nav {
  display: grid;
  padding: 1rem;
  grid-template-rows: auto 1fr;
  background-color: var(--white);
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 0.2s ease;

  &.active {
    transform: translateX(0);
  }

  .navbar-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(206, 206, 206);
  }
}

.hamburger,
.close {
  font-size: 2rem;
  color: var(--neutral-grey-dark);
  text-align: right;
}

.series-summary {
  margin-bottom: 1rem;
}

.book-list {
  background-image: linear-gradient(0deg, var(--neutral-grey), var(--white));
  padding: 2rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.book-detail {
  margin-top: 1rem;

  .book-title {
    font-weight: bold;
    font-size: 2rem;
  }
}

footer {
  text-align: center;
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid rgb(206, 206, 206);
}

@media screen and (max-width: 600px) {
  .order-element {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 600px) {
  .App {
    padding: 2rem;
  }

  .hamburger {
    display: none;
  }

  nav {
    transform: translateY(0);
    height: auto;
    width: auto;
    position: relative;

    .navbar-top {
      display: none;
    }

    ul {
      flex-direction: row;
      justify-content: flex-end;

      li {
        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }

      a {
        font-size: 1.5rem;

        &:hover {
          color: var(--neutral-grey-dark);
        }
      }
    }
  }

  .book-detail {
    margin: 0 1rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .App {
    max-width: 1024px;
    margin: auto;
  }
}
