@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --neutral-darker: #0b0c10;
  --neutral-dark: #1f2833;
  --neutral-light: #c5c6c7;
  --green-light: #66fcf1;
  --green-dark: #45a29e;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

.App {
  padding: 1rem;
}

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(206, 206, 206);
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
  flex: 0 0 50%;
}

@media screen and (max-width: 600px) {
  .order-element {
    flex: 0 0 50%;
  }
}
